:root {
    --main-bg-color: #010101;
    --main-text-color: #cccccc;
    --main-hl-color: #ffffff;
    --odd-bg-color: #272727;
    --accent-color: #4CAF50;
    --accent-dark: #357e38;
    --accent-text-color: #000000;
    --input-border: #2d2d2d;
    --logo: #4CAF50;
    --logo-red: #ffffff;
    --logo-shadow: #4CAF50;
    --playlist-hover: #323232;
    --section-gradient: #111111;
    --section-border: #555555;
}
